<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Science Courses - StephMarie Leonardo</title>
    <link rel="stylesheet" href="./fontawesome-free-6.1.2-web/css/all.min.css">
</head>
<body>
    <header>
        <nav class="flex flex-row z-[100] items-center justify-center justify-between w-full p-5 fixed text-black bg-white shadow-lg transition-all ease-in-out duration-4000 top-0" id="navbar">
            <div class="flex flex-row gap-5 items-center">
                <img title="logo" src="./images/SPEPHMARIE_LOGO-removebg-preview.png" class="h-12 w-12 contain">
                <h1 class="md:text-4xl text-3xl">Courses</h1>
            </div>
            <div>
                <div class="md:flex flex-row gap-3 items-center py-2 px-5 border rounded-lg hidden">
                    <input type="search" placeholder="Search" class="outline-none">
                    <i class="fa fa-search text-gray-800"></i>
                </div>
            </div>
            <div class="flex flex-row gap-5">
                <ul class="w-fit lg:flex flex-row justify-center gap-5 items-center hidden">
                    <li><a href="#" title="Home" class="hover:text-sky-300">Home</a></li>
                    <li><a href="#" title="Courses" class="text-sky-500">Courses</a></li>
                    <li><a href="#" title="About Us" class="hover:text-sky-300">About Us</a></li>
                    
                </ul>
                <div class="lg:flex flex-row gap-5 items-center hidden">
                    <a href="#" class="p-3 bg-gradient-to-r from-cyan-500 to-blue-500 text-white rounded-lg flex flex-row justify-center">Login</a>
                    <a href="#" class="p-3 bg-transparent text-sky-500 border border-sky-500 rounded-lg hover:bg-sky-500 hover:text-white transition-all flex flex-row justify-center">Sign Up</a>
                </div>
                <div class="flex flex-row items-center">
                    <i class="fa fa-bars lg:hidden text-2xl" id="menu-toggle"></i>
                </div>
            </div>
        </nav>
    </header>

    <div class="fixed hidden w-full h-full bg-[#00000060] top-0 z-[1000] flex-row gap-2" id="navcon">
        <div class="w-[80%] md:w-[50%] bg-white px-5 py-[5em] flex flex-col gap-10">
            <ul class="flex flex-col gap-5">
                <li><a href="#" title="Home" class="hover:text-sky-300">Home</a></li>
                <li><a href="#" title="Courses" class="text-sky-500">Courses</a></li>
                <li><a href="#" title="About Us" class="hover:text-sky-300">About Us</a></li>
            </ul>
            <div class="flex flex-col gap-5">
                <a href="#" class="p-3 bg-gradient-to-r from-cyan-500 to-blue-500 text-white rounded-lg flex flex-row justify-center">Login</a>
                <a href="#" class="p-3 bg-transparent text-sky-500 border border-sky-500 rounded-lg hover:bg-sky-500 hover:text-white transition-all flex flex-row justify-center">Sign Up</a>
            </div>
        </div>
        <i class="fa fa-times text-2xl text-white m-5" id="cancel-menu"></i>
    </div>

    <main class="mt-[6em]">
        <div class="md:p-10 p-5">
            <h2 class="text-4xl mb-8 flex flex-row items-center gap-5"><object data="./images/science.svg" class="h-12 w-12" alt="Science"></object> Science Courses</h2>
            <div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5 w-full">
                <div class="rounded-lg shadow-lg p-5 flex flex-col items-center hover:-translate-y-2 hover:shadow-xl transition-all ease-in-out duration-3000">
                    <div class="w-full flex flex-row justify-end">
                        
                        <i class="far fa-heart text-pink-500 text-xl"></i>
                    </div>
                    <object data="./images/chemistry.svg" class="h-20 w-20"></object>
                    <p class="text-2xl text-center mt-3 font-bold capitalize">Carbon and it's compounds</p>
                    <p class="mt-3">Created By Tivfa Akombo</p>
                    <button href="#" class="p-3 bg-gradient-to-r from-cyan-500 to-blue-500 mr-4 text-white rounded-lg mt-5">Buy Now</button>
                </div>
            </div>
        </div>

        <div class="md:p-10 p-5">
            
        </div>
    </main>

    <!--SCRIPT-->
    <script src="./js/tailwind.js"></script>
    <script src="./js/menu.js"></script>
</body>
</html>